*.iml
*.jks
*.keystore
.gradle
/local.properties
.idea/
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/AndroidProjectSystem.xml
/.idea/deploymentTargetSelector.xml
/.idea/gradle.xml
/.idea/migrations.xml
/.idea/misc.xml
/.idea/runConfigurations.xml
/.idea/vcs.xml
/app/release/baselineProfiles/1/app-release.dm
/app/release/output-metadata.json
/app/release/app-release.apk
/app/release/baselineProfiles/0/app-release.dm
/app/src/main/java/com/example/linku_android/FrontRules.kt
/app/release/
/.kotlin/
google-services.json //firebase 설정 파일
/AGENTS.md
